h1{
    color: #f07167;
}

/*Estado original del link*/
a:link{
    color: #fb8500;
    text-decoration: none;
}

/*Link visitado*/
a:visited{
    color: #219ebc;
    text-decoration: none;
}

/*Link cuando damos click sostenido */
a:hover{
    color: #8ecae6;
    text-decoration: underline;
}

a:active{
    color: #023047;
    text-decoration: underline;
}